/* body{ */
/*   margin:30px 20% 0; */
/* } */

html,body{
  height: 100%;
  overflow: scroll;
}

div#container{
  position: relative;
  width: 1300px;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  /* margin-bottom:20px; */
}
div#header{
  width: 1000px;
  height:auto;
  margin:30px 100px 0;
  overflow:hidden;
}
div#about{
  margin:30px 130px 0;
  width: 500px;
}
div#search{
  margin:30px auto 0 150px;
  width: 400px;
  text-align:center;
  padding-bottom:70px;
}

div#search_main{
  margin:30px auto 0 100px;
  width: 400px;
  text-align:center;
}
div#mid{
  width: 1170px;

}
div#sidebar{
  margin:30px 0 0 40px;
  float:left;
  padding-bottom:70px;
}
div#mainpart{
  margin:10px 0 0 0px;
  width:900px;
  float:left;
  padding-bottom: 50px
}
div#footer{
  position: absolute;
  bottom:0px;
  width: 800px;
  height: 90px;
  margin-left:100px;
  margin-bottom:50px;
  clear:both;
}
div#footer p{
  color:gray;
}

div#footer_sub {
  height:90px;
  clear:both;
  /* margin-top:100px; */
  margin-left:100px;
}
div#footer_sub p{
  color:gray;
  text-align:right;
}
h1{
  height:32px;
}
h3{
  margin:10px auto 10px 50px;
  text-align:left;
}
h4{
  margin:10px auto 10px 0px;
  text-align:left;
}
a:link{
  color:blue;
}
a:visited{
  color:blue;
}
input.text{
  width: 200px;
  height:20px;
  font-size: 100%;
  /* transform-origin:top left; */
  transform:scale(1.5,1.5);
  /* margin:auto; */
}
input.btn{
  width: 100px;
  /* height:2em; */
  height:30px;
  margin:auto;
  font-size: 100%;
  /* background-color:white; */
  /* color:black; */
  /* transform-origin:top left; */
  transform:scale(1.5,1.5);
}
input.text_sub{
  width: 200px;
  height:20px;
  font-size: 100%;
  /* transform-origin:top left; */
  /* transform:scale(1.5,1.5); */
  /* margin:auto; */
}
input.btn_sub{
  width: 100px;
  /* height:2em; */
  height:30px;
  margin:auto;
  font-size: 100%;
  /* background-color:white; */
  /* color:black; */
  /* transform-origin:top left; */
  /* transform:scale(1.5,1.5); */
}
span.photo-right{
  max-width:500px;
  position:relative;
  clear: right;
  padding-right:5px;
  padding-left:20px;
  padding-bottom:2px;
  float: right;
}


div.mit_data{
  clear:both;
}

ul#tabs {
  margin:0;
  width:180px;
}

ul#tabs li {
  /* border-right:1px solid #999; */
  width:200px;
  /* float:left; */
  list-style:none;
  text-align:center;
}

ul#tabs li a {
  padding:10px 0;
  display:block;
  background-color:#f5f5f5;
  line-height:1em;
  color:#000;
}

ul#tabs li.open {
  border:1px solid #999;
  /* border-right:none; */
  width:198px;
}

ul#tabs li.open a {
  background-color:#fff;
  color:#09c;
}

div.box {
  /* margin-left:40px; */
  float:right;
  padding:10px;
  border:1px solid #999;
  border-top:none;
  width:278px;
  min-height:100px;
  background-color:#fff;
}
